<launch>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.2"/>
  <arg name="R" default="0"/>
  <arg name="P" default="0"/>
  <arg name="Y" default="0"/>

  <arg name="robot_namespace" default=""/>
  <arg name="cmd_vel" default="cmd_vel"/>
  <arg name="odom" default="odom"/>

  <param name="robot_description"
         command="$(find xacro)/xacro '$(find car_like_description)/urdf/car_like.urdf.xacro'
                  robot_namespace:=$(arg robot_namespace) cmd_vel:=$(arg cmd_vel) odom:=$(arg odom)"/>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_car_like" output="screen"
        args="-urdf -model car_like -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)" />
</launch>
